.App {
    width: 900px;
    border: 2px solid dimgrey;
    margin: 50px;

}
.countries {
    width: 300px;
    border: 2px solid dimgrey;
    margin: 20px;
    text-align: left;
    padding-left: 20px;
}
.title {
    background-color: lightblue;
    font-weight: bold;
    font-size: 30px;
    padding: 20px;
    border-bottom: 2px solid dimgrey;
}
li {
    list-style: none;
    padding: 10px 0;
}
.countryLink {
    text-decoration: none;
}
.allBlock {
    display: flex;
}
